/dataset
/data_unedited_fake
/Intense urban combat： Soldiers of the Russian Volunteer Corps pushed Russian soldiers out of their positions behind the aggregate plant in Vovchansk. [f4kmwmc3jryd1].mp4
testpt_v2.py
testpt_v2b.py
testpt_v3
Ukrainian Helmet Cam.mp4
UNRECORD.webm